{% extends "base.html" %}

{% block title %}
Produto
{% endblock %}

{# ajusta as variáveis conforme novo ou edit #}
{% set id = result[0].id_produto if result else '0' %}
{% set nome = result[0].nome if result else '' %}
{% set descricao = result[0].descricao if result else '' %}
{% set valor_unitario = result[0].valor_unitario if result else '' %}
{% set foto = result[0].foto if result else '' %}

{% block content %}
<style>
  .form {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin-top: -100px;
  }

  /* Estilos para o formulário */
  #formAdicionar, #formEditar {
    background-color: #f7f7f7;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }

  /* Estilos para os inputs e labels */
  input[type="text"],
  textarea,
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  label {
    margin-bottom: 5px;
    display: block;
  }

  /* Estilos para o botão */
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
</style>

<div class="form">
  <form
    name="{{ 'formEditar' if result else 'formAdicionar' }}"
    id="{{ 'formEditar' if result else 'formAdicionar' }}"
    method="POST"
    enctype="multipart/form-data"
  >
    <h1>
      Produto - {{ "%s: %s" % ('Editar Registro', id) if result else 'Novo' }}
    </h1>
    <input type="hidden" name="id" id="id" value="{{ id }}" readonly />
    <label for="nome">Nome do Produto:</label>
    <input type="text" name="nome" id="nome" value="{{ nome }}" />
    <label for="valor_unitario">Valor:</label>
    <input type="number" name="valor_unitario" id="valor_unitario" value="{{ valor_unitario }}" />
    <label for="descricao">Descrição do Produto:</label>
    <textarea name="descricao" id="descricao">{{ descricao }}</textarea>
    <label for="foto">Imagem:</label>
    <input type="file" name="foto" accept="image/*" id="foto" />
    {% if foto %}
    <img src="{{ foto }}" width="150" alt="Imagem" />
    {% endif %}
    <button type="submit" name="salvaProdutoDB" id="salvaProdutoDB">
      <i class="fas fa-save"></i> Salvar
    </button>
  </form>
</div>

<script>
  // Função para validar e submeter o formulário
  function validarFormulario() {
    var nome = document.getElementById('nome').value;
    var descricao = document.getElementById('descricao').value;
    var foto = document.getElementById('foto').value;
    var valor_unitario = document.getElementById('valor_unitario').value;

    if (nome.trim() === '' || descricao.trim() === '' || foto.trim() === '' || valor_unitario.trim() === '') {
      alert('Por favor, preencha todos os campos obrigatórios.');
      return;
    }
  }

  $SCRIPT_ROOT = {{ request.script_root | tojson | safe }}; // pega a url da barra de endereço

  // JS-Ajax para adicionar
  $('#formAdicionar').submit(function (e) {
    e.preventDefault(); // parar o envio para poder fazer manualmente
    var form = $('#formAdicionar')[0]; // captura o form
    var data = new FormData(form); // cria o FormData {Object}
    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: "{{ url_for('produto.insert') }}",
      data: data,
      processData: false, // impedir que o jQuery transforme a "data" em querystring
      contentType: false, // desabilitar o cabeçalho "Content-Type"
      cache: false, // desabilitar o "cache"
      timeout: 600000, // definir um tempo limite (opcional)
      success: function (data) {
        if (!data.erro) {
          Swal.fire({
            title: '',
            text: 'ID' + data.msg.id + ', ' + data.msg.msg,
            icon: 'success',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProduto') }}");
            }
          });
        } else {
          Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
        }
      },
      error: function (e) {
        console.log(e);
      }
    }); // fim execução ajax
  }); // fim função evento submit

  // JS-Ajax para editar
  $('#formEditar').submit(function (e) {
    e.preventDefault(); // parar o envio para poder fazer manualmente
    var form = $('#formEditar')[0]; // captura o form
    var data = new FormData(form); // cria o FormData {Object}
    $.ajax({
      type: "POST",
      enctype: 'multipart/form-data',
      url: "{{ url_for('produto.edit') }}",
      data: data,
      processData: false, // impedir que o jQuery tranforma a "data" em querystring
      contentType: false, // desabilitar o cabeçalho "Content-Type"
      cache: false, // desabilitar o "cache"
      timeout: 600000, // definir um tempo limite (opcional)
      success: function (data) {
        if (!data.erro) {
          Swal.fire({
            title: '',
            text: 'ID' + data.msg.id + ', ' + data.msg.msg,
            icon: 'success',
            showCancelButton: false,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'OK'
          }).then((result) => {
            if (result.isConfirmed) {
              window.location.replace($SCRIPT_ROOT + "{{ url_for('produto.formListaProduto') }}");
            }
          });
        } else {
          Swal.fire(data.msgErro.msg, data.msgErro.erro, "error");
        }
      },
      error: function (e) {
        console.log(e);
      }
    }); // fim execução ajax
  }); // fim função evento submit
</script>
{% endblock %}
